.tabbed {
  overflow: hidden;
  transition: border 250ms ease;
}

.tabbed ul {
  margin: 0px;
  padding: 0px;
  float: left;
  list-style-type: none;
}

.tabbed ul * {
  margin: 0px;
  padding: 0px;
}

.tabbed ul li {
  --tw-bg-opacity: 1;
  background-color: rgb(54 57 63 / var(--tw-bg-opacity));
  display: block;
  float: right;
  padding: 10px 24px 8px;
  margin-right: 26px;
  z-index: 2;
  position: relative;
  cursor: pointer;
  color: #fff;
  transition: all 250ms ease;
}

.tabbed ul li:before,
.tabbed ul li:after {
  --tw-bg-opacity: 1;
  background-color: rgb(54 57 63 / var(--tw-bg-opacity));
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 44px;
  transition: all 250ms ease;
}

.tabbed ul li:last-child:after {
  width: 0;
}

.tabbed ul li:after {
  left: -24px;
  transform: skew(-45deg, 0deg);
  box-shadow: rgba(0, 0, 0, 0.1) -3px 2px 5px,
    inset rgba(255, 255, 255, 0.09) 1px 0;
}

.tabbed ul li:last-child:after {
  transform: none;
}

.tabbed ul li:before {
  right: -24px;
  transform: skew(45deg, 0deg);
  box-shadow: rgba(0, 0, 0, 0.1) 3px 2px 5px,
    inset rgba(255, 255, 255, 0.09) -1px 0;
}

.tabbed ul li.active {
  z-index: 3;
}
.tabbed ul li.active,
.tabbed ul li.active:before,
.tabbed ul li.active:after {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
  color: #fff;
}

/*----- Round lis -----*/
.tabbed.round ul li {
  border-radius: 8px 8px 0 0;
}
.tabbed.round ul li:last-child {
  border-radius: 24px 8px 0 0;
  padding: 10px 24px 8px 44px;
}
.tabbed.round ul li:before {
  border-radius: 0 8px 0 0;
}
.tabbed.round ul li:after {
  border-radius: 8px 0 0 0;
}

.col-span-1 {
  grid-column: span 1 / span 1;
}
.col-span-2 {
  grid-column: span 2 / span 2;
}
.col-span-3 {
  grid-column: span 3 / span 3;
}
.col-span-4 {
  grid-column: span 4 / span 4;
}
.col-span-5 {
  grid-column: span 5 / span 5;
}
.col-span-6 {
  grid-column: span 6 / span 6;
}
.col-span-7 {
  grid-column: span 7 / span 7;
}
.col-span-8 {
  grid-column: span 8 / span 8;
}
.col-span-9 {
  grid-column: span 9 / span 9;
}
.col-span-10 {
  grid-column: span 10 / span 10;
}
.col-span-11 {
  grid-column: span 11 / span 11;
}
.col-span-12 {
  grid-column: span 12 / span 12;
}
